.notFound_wrapper {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .err_status {
    font-size: 100px;
  }
  .not_found {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
  }
}
